@import "reset.css";

body {
  font-family: Georgia, serif;
  font-size: 14px;
  background-color: #FCFFD8;
  color: #232323;
  line-height: 1.5em;
}

#page {
  width: 500px;
  margin: 10px auto;
}

a {
  color: #3E6644;
}