/* Globals */
body
{
	background: url('images/background.gif');
	color: #000000;
}

form, table
{
	margin: 0;
	padding: 0;
}

/* Global Classes */
.news_container
{
	margin-bottom: 10px;
}

.news_date
{
	text-align:left;
	background-color:#006633;
	color:#FFFFFF;
	border:1px #006633 solid;
}

.news_text
{
	padding: 5px;
	text-align:left;
	border-left:1px #006633 dashed;
	border-right:1px #006633 dashed;
	border-bottom:1px #006633 dashed;
	background:#FFFFFF;
	color: #000000;
}

.bonus_container
{
	padding: 5px;
	text-align:left;
	border:1px #006633 dashed;
	background:#FFFFFF;
	color: #000000;
	margin-bottom: 5px;
}

/* Index.php Divs */
div#warning_div
{
	width:550px;
	text-align:center;
	font-size:16px;
	font-weight: bold;
	border: 1px solid #000000;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ffffff;
}

/* Global IDs */
div#page_div
{
	text-align: left;
	width: 710px;
	background-color: #ffffff;
	border: 1px #73644F dotted;
	margin-right: auto;
	margin-left: auto;
}

div#logo_div
{
	width: 600px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	background-image: url('images/top.png');
}

div#logo_div h1, div#logo_div h2
{
	display: none;
}

div#menu_div
{
	width: 700px;
	border-bottom:1px #006633 solid;
	color: #006633;
	text-align:center;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

div#menu_div ul, li
{
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#menu_div a
{
	color: #73644F;
	text-decoration: none;
}

div#menu_div a:link a:visited
{
	color: #73644F;

}

div#menu_div a:active
{
	color: #006633;
	text-decoration: underline;
}

div#menu_div a:hover
{
	color: #006633;
	text-decoration: underline;
}

div#content_div
{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 690px;
	border-left: 1px #006633 solid;
	border-right: 1px #006633 solid;
	background-image: url('images/backtest.gif');
	margin-right: auto;
	margin-left: auto;
	padding: 4px;
}

div#content_div a
{
	color: #006633;
}

div#content_div h3
{
	font-size: 16px;
	margin: 0px 0px 5px 0px;
}


div#copyright_div
{
	width: 694px;
	border-top: 1px #006633 solid;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
	padding: 3px;
}

div#copyright_div a, div#copyright_div a:link, div#copyright_div a:visited
{
	color: #73644F;
	text-decoration: none;
}

div#copyright_div a:hover, div#copyright_div a:active
{
	color: #006633;
}

.news_text h4, .news_text p {
  margin: 5px;
}